/* @import url("https://fonts.googleapis.com/css?family=Overpass"); */

.tags-input {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  min-height: 48px;
  width: 100%;
  padding: 0 8px;
  border: 1px solid rgb(214, 216, 218);
  border-radius: 6px;
}
.tags-input:focus-within {
  border: 1px solid #0052cc;
}
input {
  flex: 1;
  border: none;
  height: 36px;
  font-size: 14px;
  padding: 0px 0 0 0;
}

.rti--container {
  max-width: 100%;
  margin: 10px 0px 10px 0px;
}

.container {
  background-color: red;
}

.rti--container input {
  margin: 0px;
}

@media screen and (max-width: 567px) {
  .tags-input {
    width: calc(100vw - 32px);
  }
}
